html {
  font-size: 16px;
  font-family: "Open Sans", "Helvetica", sans-serif;
}

h1 {
  font-size: 3rem;
  color: #4b4b4b;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 0.5rem;
}

h2 {
  font-size: 1.75rem;
  color: #4b4b4b;
  font-weight: 700;
  line-height: 1.3;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  color: #4b4b4b;
  font-weight: 600;
  line-height: 1.3;
  padding-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: #9d9d9d;
  line-height: 1.3;
  padding-bottom: 0.5rem;
}

a {
  color: deepskyblue;
  font-weight: 700;
  text-decoration: none;
  transition: text-decoration 0.1s ease;
}

a:hover {
  text-decoration: underline;
}
/* header */

#desktop-nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#desktop-nav img {
  height: 2.5rem;
  width: auto;
  padding: 1.5rem;
  transition: opacity 0.25s ease-in;
}

#desktop-nav img:hover {
  opacity: 0.5;
}

#desktop-nav nav ul {
  display: inline-flex;
  list-style: none;
}

#desktop-nav nav ul li {
  height: 100%;
  padding: 2.5rem 1.5rem;
  transition: background-color 0.25s ease-in;
}

#desktop-nav nav ul li:hover {
  color: white;
  background-color: deepskyblue;
}

#mobile-nav {
  display: none;
}

@media only screen and (max-width: 500px) {

  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: flex;
    justify-content: space-around;
  }

  #mobile-nav img {
    height: 2rem;
    padding: 1rem 2rem;
  }

}

/* jumbotron */

.jumbotron {
  background-color: #dddddd;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.jumbotron img {
  width: 60%;
  height: 60%;
  padding-bottom: 0.5rem;
}

.details {
  width: 40%;
  height: 40%;
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
}

.button {
  padding: 1.5rem;
  margin-top: 1rem;
  width: 18rem;
  background-color: #4b4b4b;
  font-family: "Open Sans", "Helvetica", Sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  border-radius: 0.5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: background-color 0.25s ease-in;
}

.button:hover {
  background-color: deepskyblue;
  box-shadow: 10px 10px 10px lightgray;
}

@media only screen and (max-width: 500px) {

  .jumbotron {
    flex-direction: column;
    width: 100%;
  }

  .jumbotron img {
    width: 100%;
    height: 100%;
  }

  h1 {
    font-size: 1.5rem
    padding: 2rem 0;
    line-height: 1.1;
  }

  .details {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.75rem;
  }

  .button {
    width: 90%;
    margin-bottom: 1.5rem;
  }

}

/* --- information --- */

.information {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
}

.info-feature {
  width: 60%;
  height: 60%;
  padding: 2.5rem;
}

.info-feature img {
  width: 100%;
  margin-bottom: 1rem;
}

.info-feature h2 {
  padding-bottom: 1rem;
}

.info-grid {
  display: flex;
  width: 40%;
  padding: 2.5rem;
  border: 1px solid gainsboro;
  flex-direction: column;
  justify-content: space-between;
}

.info-bite {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.desktop-pic {
  width: 35%;
  height: 35%;
}

.mobile-pic {
  display: none;
}

.bite-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;
}

.description {
  margin-top: 1rem;
  color: #4b4b4b;
  font-size: 0.75rem;
}

@media only screen and (max-width: 500px) {

  .info-feature {
    display: none;
  }

  .info-grid {
    width: 100%;
  }

  .info-bite {
    flex-direction: column;
    align-items: flex-start;
  }

  .desktop-pic {
    display: none;
  }

  .mobile-pic {
    display: flex;
    width: 100%;
  }

}

/* --- courses --- */

.courses {
  background-color: gainsboro;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.courses-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 85%;
  margin: 1rem 0;
}

.course {
  width: 30%;
  max-width: 50%;
  min-width: 30%;
  margin: 1rem;
  background-color: white;
}

.course img {
  width: 100%;
  height: auto;
}

.course-details {
  padding: 1.5rem;
}

.course-details h3 {
  transition: color 0.25s ease-in;
}

.course-details h3:hover {
  color: deepskyblue;
}

@media only screen and (max-width: 500px) {

  .courses {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 1.5rem 0;
    border-bottom: 1px solid gainsboro;
  }

  .courses h2 {
    margin-bottom: 1rem;
  }

  .courses-grid {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .course {
    width: 90%;
    padding: 0;
    margin: 0.5rem 0;
  }

  .course img {
    display: none;
  }

  .course-details {
    width: 90%;
    padding: 0;
    background-color: gainsboro;
    padding: 1rem 8rem;
    margin: 0;
  }

  .course-details p {
    display: none;
  }

}

/* --- thesis --- */

.thesis {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thesis h2 {
  padding: 2rem 0;
}

.ugh {
  display: flex;
}

.thesis-feature {
  width: 60%;
  height: 60%;
  padding: 2.5rem;
}

.thesis-feature video {
  width: 100%;
  margin-bottom: 1rem;
}

.thesis-feature h2 {
  padding-bottom: 1rem;
}

.thesis-grid {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.5rem;
}

.thesis-bite {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
  transition: background-color 0.5s ease;
}

.thesis-bite:hover {
  opacity: 0.8;
}

.thesis-bite img {
  width: 35%;
  height: 35%;
}

@media only screen and (max-width: 500px) {

.ugh {
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.thesis-grid {
  display: none;
}

.thesis-feature {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.thesis-feature h2,p {
  display: none;
}

.thesis-feature video {
  width: 100%;
}

}

/* bite-details rules in information section */

/* ---- footer --- */

footer {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gainsboro;
  padding: 2rem;
}

footer > p {
  font-size: 0.75rem;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul li {
  padding: 0 1.5rem;
}

/* --- media queries --- */

@media only screen and (max-width : 320px) {




  .jumbotron {
    background-color: gainsboro;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }

  .jumbotron img {
    width: 60%;
    height: 60%;
    padding: 2.5rem;
  }








}
